*
 {
   box-sizing:border-box;
   margin: 0;
   padding: 0;
  background-color: #EAD2AC;
  font-size: 20px;
}
h1{
  color:red;
  font-size :25px;
}
h2{
  color:purple;
  font-size :24px;
}
h3{
  color:green;
  font-size :23px;
}
h4{
  color: blue;
  font-size :22px;
}
h5{
  color:brown;

  font-size :21px;
}

table{
  color: black; 
  
  border: 1px solid brown; 
  border-collapse: collapse;
}
td{
  padding: 12px; 
  text-align: center
}
th{
  font-size: 25px
}
.bold{
  font-weight: bold; 
  font-size: 20px
}



.main{
 
  min-height: 300px;

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
padding: 50px;


}


.row:after { /*  clearfix */
  content:"";
  display:table;
  clear:both;
}


.active {
  background-color:#ec4f05 !important;
}

.navbar {
  overflow: hidden;
 background-color:#ce904a;
 display: flex;
  font: fallback;
  font-style: italic;
  justify-content:center ;
  align-items: center;
  

}

.navbar a {
  float: left;
  font-size: 16px;
  background-color:#ce904a;
  color:#e2dada;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #ce904a;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color:#0d0c0c;
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center p{
  font-style: italic;
}

td:hover{
  background-color: red;
}

